button{
padding: 10px 20px;
border: 1px solid black;
border-radius: 8px;
color: black;
font-weight: 400;
margin-top: 20px;
margin-bottom: 20px;
font-size: 15px;
background-color: var(--blue);
}
.card{
    background-color: rgba(0, 0, 255, 0.101);
}
