.header{
padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
h3{
    font-size:20px ;
    font-weight: 200;
    color: #7B29DD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    buttom {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 100;
    padding: 0 20px;
}
nav .btn{
   
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
padding: 15px;
background-color: yellow;
border: 1px solid yellow;

}